<!DOCTYPE html>
<html>
  <head>
    <%- include ('./partials/header') %>
  </head>
  <body>
    <% if(data){ %> <%- include ('./partials/loggedin') %> <% } else{ %> <%-
    include ('./partials/login') %> <% } %>
  </body>
</html>
