<div class="logged-in jumbotron">
    <h1 class="display-4"><strong>Welcome</strong></h1>
    <button type="button" class="btn btn-danger btn-lg">
        <span>Log Out</span></a>
    </button>
</div>