<div class="login">
    <h1 class="display-4"><strong>Login</strong></h1>
    <button type="button" class="btn btn-danger btn-lg">
      <span>Sign in with Google</span></a>
    </button>
    <button type="button" class="btn btn-primary btn-lg">
      <span>Sign in with Okta</span></a>
    </button>
</div>