<div class="login">
    <h1 class="display-4"><strong>Login</strong></h1>
    <a href="/auth/google" class="btn btn-danger btn-lg">Sign in with Google</a>
    <button type="button" class="btn btn-primary btn-lg">
      <span>Sign in with Okta</span></a>
    </button>
</div>